div, body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.container{
    margin-top: 20px;
    width: 50vw;
    padding: 20px;
    background-color: #eee;
    border-radius: 1rem;
}
.input-container{
    height: 15vh;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.form-control{
    margin: 10px;
}
.btn{
    margin: 10px;
}
.del-btn{
    float: right;
}
.list-container{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
}
.del-btn-container{
    width: 100%;
    height: 60px;
}
div > p{
    padding-left: 20px;
    margin: 0;
    
}
.flex-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.name-box, .date-box{
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    height: 40px;
    width: 150px;
}
